* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #454560;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(70deg, #1E88E5, #0D47A1);
    color: #eee;
}

#me {
    max-width: 210px;
    box-shadow: 0px 5px 20px #0D47A1;
    border-radius: 50%;
    border: solid 2px #eee;
    filter: saturate(50%);
    z-index: 1;
}

.landing h1 {
    font-size: 1.5rem;
    max-width: 580px;
    text-align: center;
    text-shadow: 0px 1px 10px #0D47A1;
}

section {
    max-width: 40rem;
    margin: 0 auto;
}

section h2 {
    width: fit-content;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #667;
    color: #556;
}

.about {
    margin: 0 auto;
    padding: 1rem;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.0rem;
    /*padding: 10px;*/
    font-size: 1.25rem;
    transition: all 0.2s;
    z-index: 2;
}

nav.scroll {
    background: #0D47A1;
    opacity: 0.9;
}

nav.menu-open {
    background: #1E88E5;
}

nav a {
    color: #eee;
    padding: 10px;
    text-decoration: none;
}

#js {
    margin-right: auto;
    border-bottom: 2px solid #eee;
}

.inner-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
}

#menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    width: 0;
    top: 3rem;
    transition: visibility 0.2s;
    transition: width 0.2s;
}

#menu a {
    height: 3rem;
    text-align: center;
    width: 100%;
}

#menu.open {
    visibility: visible;

    width: 100%;
    background: #1E88E5;

}

#menu-button {
    display: block;
}

.project {
    box-shadow: 2px 5px 10px #888;
    margin: 2.5rem 0.75rem;
    font-size: 1.1rem;
    border-radius: 5px;
}

.project-info {
    padding: 1rem;
}

.project-buttons {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.project-buttons a {
    color: #eee;
    text-decoration: none;
    width: 100%;
    background: #1E88E5;
    text-align: center;
    padding: 10px 0;
}

.project-buttons a:last-child {
    background: #1565C0;
}

.project-buttons a:hover {
    opacity: 0.8;
}

.project img {
    width: 100%;
}

h3 {
    margin: 0px;
    font-size: 1.5rem;
}

.tech-grid {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.1rem;
}

.tech {
    width: 32%;
}

@media screen and (min-width: 768px) {
    nav {
        height: 3.5rem;
    }

    #menu-button {
        display: none;
    }

    #menu {
        display: block;
        width: auto;
        visibility: visible;
        position: static;
    }

    #menu a {
        text-align: inherit;
        width: auto;
    }

    nav a:hover {
        background: #1E88E5;
        border-radius: 4px;
    }
}

@media screen and (min-width: 500px) {
    html, body {
        font-size: 20px;
    }

    #me {
        width: 45%;
    }
}

@media screen and (min-width: 360px) {
    .landing h1 {
        width: 80%;
    }
}
